 .shop .restoration-page-section-element-state {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: 0px 112px 150px 112px;
  position: relative;
  width: 1440px;
  margin: 0 auto;
}

 .shop .restoration-page-price-action-footnote {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 280px;
position:sticky;

 
}

 .shop .restoration-page-heading-price-action {
  align-items: flex-start;
  background-color: var(--backgrounddefaultbeige);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 50px;
  padding: 50px 30px;
  position: relative;
  width: 280px;

}

 .shop .restoration-1 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 20px;
    position: relative;
    width: 100%;

}

 .shop .text-header {
  align-self: stretch;
  color: var(--textprimarydark);
  font-weight: 400;
  line-height: 31.2px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

 .shop .text-header-2 {
  align-self: stretch;
  color: var(--textprimarydark);
  font-weight: 400;
  line-height: 31.2px;
  margin-top: -1.00px;
  position: relative;
}
 .shop .restoration-rectangle {
  align-self: stretch;
  background-color: var(--textprimarydark);
  height: 1px;
  position: relative;
  width: 100%;
}

 .shop ._-restorations {
  align-items: end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

 .shop .text-regular {
  color: var(--textprimarydark);
  font-weight: 400;
  line-height: 30px;
  margin-top: -1.00px;
  position: relative;
  text-align: start;
  white-space: nowrap;
  width: fit-content;
  cursor: pointer;
}

 .shop .price {
  color: var(--textprimarydark);
  font-weight: 400;
  line-height: 30px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
      font-variant-numeric: lining-nums;
      display: none;
}

 .shop .buttons {
  align-items: center;
  align-self: stretch;
  border: 1px solid;
  border-color: var(--backgrounddefaultdark) !important;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 16px 32px;
  position: relative;
  width: 100%;
}

 .shop .text_label {
  color: var(--textprimarydark);
  font-weight: 400;
  line-height: 18.8px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

 .shop .footnote-price {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
  width: 280px;
}

 .shop .restoration-page-tit {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  width: 592px;
}

 .shop .text-regular-color {
  align-self: stretch;
  color: var(--textsecondarydark);
  font-weight: 400;
  line-height: 30px;
  position: relative;
}

 .shop .text-footnote {
  align-self: stretch;
  color: var(--textsecondarydark);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}
        .shop .buttons:active{
        transform: scale(0.95);
    }
#products-section {
    padding: 0 0 0 32px;
    width: 1260px;
}

#brandFilter {
  margin-bottom: 20px;
  padding: 5px 10px;
  width: 200px;
}

#productsContainer {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
gap: 32px;
}

.product {
  text-align: left;
}

.product img {
  width: 260px;
  height: 260px;
  object-fit: contain;
  border-radius: 5px;
}

.product h3 {
  font-size: 16px;
 margin: 5px 0 5px 0;
 font-family: var(--font-family-raleway);
 font-weight: 500;
}

.product p {
  font-size: 14px;
  color: #555;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-family: var(--font-family-raleway);
  font-weight: 400;
}
.no-products {
    font-size: 50px;
    font-family: var(--font-family-raleway);
     color: #555;
     white-space: nowrap;

}
.text-regular.active-brand {
  text-decoration: underline; /* underline active brand */
}

@media screen and (max-width: 767px) {
  .shop .restoration-page-heading-price-action {
    gap:20px;
  }
 .shop .restoration-page-section-element-state {

  padding: 70px 20px 70px 20px;
gap:70px;
  width: 375px;
  flex-direction: column;
   }
   .no-products{
    font-size: 20px;
   }
.shop .restoration-page-price-action-footnote {
    width: 335px;
    gap:20px;
    position: relative;
    
}
.restoration-page-heading-price-action {
    padding: 20px;
}
.text-regular-color, .shop .text-footnote, .shop .text-haircut-type{
    font-size: 17px;
}
.text-header{
    font-size: 20px;
}
.footnote-price, .shop .restoration-page-heading-price-action, .shop .restoration-page-tit{
    width:335px;
}
#products-section {
    width: 335px;
    padding:0;
}
.product img{
    height: 150px;
    width:150px;
}
#productsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(157px, 1fr));
    gap: 21px;
}
.shop ._-restorations {
    justify-content: center;
}
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
 .shop .restoration-page-section-element-state {
  padding: 100px 40px 100px 40px;
gap:20px;
  width: 768px;
   }
   #products-section {
    width: 768px;
    padding: 0;
}
.no-products {
    font-size:20px;
}
#productsContainer {
    display: grid
;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 28px;
}
.shop .restoration-page-price-action-footnote {
    width: 280px;
           position:sticky;
     top: 20px; /* distance from the top of the viewport */
  z-index: 10;
}
.product img {
    height: 160px;
    width: 160px;
}
}
@media screen and (min-width: 1440px){
    .shop .buttons:hover{
        transform: scale(1.05);
    }
        .shop .buttons:active{
        transform: scale(0.95);
    }
     .shop .text-regular:hover {
 text-decoration: underline;
}
.restoration-page-price-action-footnote {
           position:sticky;
     top: 20px; /* distance from the top of the viewport */
  z-index: 10;
}
}